// Modified Version of Flatdoc white-theme
// Flatdoc: https://github.com/rstacruz/flatdoc
//
// Modifications by @Polyneue
// - Removed "Literate Mode" Styles

support-for-ie = true

@import './node_modules/nib/index.styl'

// Fonts
$body-font = 'Helvetica Neue', 'Open Sans', sans-serif
$mono-font = monospace

// Margins
$pad = 40px      // Space between things
$sidepad = 30px  // Padding to the left of the sidebar
$minipad = 20px  // Space for mobile
$vmargin = 10px  // Margin between blocks

// Colors
$offwhite = #f3f6fb
$grey = #bbb
$txt = #505050
$accent = #F94878
$line = #e4e7ec * 0.98

// Misc
$shadow-str = 0.1

// Dimensions
$sidebar-width = 230px
$content-width = 550px
$pre-width = 380px

/* ----------------------------------------------------------------------------
 * Fonts
 */

@import url('//fonts.googleapis.com/css?family=Open+Sans:300,600')

// ----------------------------------------------------------------------------
// Mixins

scrollbar($bg=white)
  &
    -webkit-overflow-scrolling: touch
  &::-webkit-scrollbar
    width: 15px
    height: 15px
  &::-webkit-scrollbar-thumb
    background: #ddd
    border-radius: 8px
    border: solid 4px $bg
  &:hover::-webkit-scrollbar-thumb
    background: #999
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2)

antialias()
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

/* ----------------------------------------------------------------------------
 * Base
 */

global-reset()

html, body
  height: 100%

html
  overflow-x: hidden

body, td, textarea, input
  font-family: $body-font
  line-height: 1.6
  font-size: 14px
  color:$txt

  @media (max-width: 480px) /* Mobile */
    font-size: 12px

a
  color: $accent
  text-decoration: none
  &:hover
    color: $accent * 0.8

img
  max-width: 100%

strong
  font-weight: 600

/* ----------------------------------------------------------------------------
 * Content styling
 */

.content
  p, ul, ol, h1, h2, h3, h4, h5, h6, pre, blockquote
    padding: $vmargin 0
    box-sizing: border-box

  h1, h2, h3, h4, h5, h6
    font-weight: bold
    antialias()

  pre
    font-family: $mono-font

  ul > li
    list-style-type: disc

  ol > li
    list-style-type: decimal

  ul, ol
    margin-left: 20px

  ul > li
    list-style-type: none
    position: relative
    &:before
      content: ''
      display: block
      absolute: left -17px top 7px
      width: 5px
      height: 5px
      border-radius: 4px
      box-sizing: border-box
      background: white
      border: solid 1px $grey

  li > :first-child
    padding-top: 0

  strong, b
    font-weight: bold

  i, em
    font-style: italic
    color: $grey

  code
    font-family: $mono-font
    background: $offwhite
    padding: 1px 3px
    font-size: 0.95em

  pre > code
    display: block
    background: transparent
    font-size: 0.85em

  blockquote
    :first-child
      padding-top: 0
    :last-child
      padding-bottom: 0

  table

    margin-top: $vmargin
    margin-bottom: $vmargin
    padding: 0
    border-collapse: collapse
    clear: both
    float: left

    tr
      border-top: 1px solid #cccccc
      background-color: white
      margin: 0
      padding: 0

      :nth-child(2n)
        background-color: #f8f8f8

      th
        text-align: auto;
        font-weight: bold
        border: 1px solid #cccccc
        margin: 0
        padding: 6px 13px

      td
        text-align: auto;
        border: 1px solid #cccccc
        margin: 0
        padding: 6px 13px

      th, td
        :first-child

          margin-top: 0;
        :last-child
          margin-bottom: 0;





/* ----------------------------------------------------------------------------
 * Content
 */

.content-root
  min-height: 90%
  position: relative

.content
  padding-top: $pad - $vmargin
  padding-bottom: $pad
  padding-left: $pad
  padding-right: $pad
  border-left: solid 1px $line
  clearfix()

  max-width: 700px

  blockquote
    color: $grey
    text-shadow: 0 1px 0 rgba(white, 0.5)

  h1, h2, h3
    antialias()
    font-family: $body-font
    padding-bottom: 0
    font-weight: 600

    + p, ul, ol
      padding-top: 10px

  h1, h2
    letter-spacing: 1px
    font-size: 1.5em

  h3
    font-size: 1.2em

  // Lines
  h1, h2, .big-heading
    padding-top: $pad * 2
    &:before
      display: block
      content: ''
      background: linear-gradient(left, rgba($line, 1.0) 80%, rgba($line, 0.0))
      box-shadow: 0 1px 0 rgba(white, 0.4)
      height: 1px
      position: relative
      top: $pad * -1
      left: $pad * -1
      width: 100%

    @media (max-width: 768px) /* Mobile and tablet */
      padding-top: $minipad * 2
      &:before
        background: $line
        left: $pad * -1
        top: $minipad * -1
        width: 120%

  // Small headings
  h4, h5, .small-heading
    border-bottom: solid 1px rgba(black, 0.07)
    color: $grey
    padding-top: $vmargin * 3
    padding-bottom: 10px

  body:not(.big-h3) & h3
    @extends .content .small-heading
    font-size: 0.9em

  body.big-h3 & h3
    @extends .content .big-heading

  h1:first-child
    padding-top: 0
    &, a, a:visited
      color: $txt
    &:before
      display: none

@media (max-width: 768px) /* Tablet */
  .content
    h4, h5, .small-heading, body:not(.big-h3) & h3
      padding-top: $vmargin * 2

@media (max-width: 480px) /* Mobile */
  .content
    padding: $minipad
    padding-top: $minipad * 2

    h4, h5, .small-heading, body:not(.big-h3) & h3
      padding-top: $vmargin

// ----------------------------------------------------------------------------
// Code blocks

inset-box()
  background: $offwhite
  border: solid 1px $offwhite*0.95
  border-top: solid 1px $offwhite*0.9
  border-left: solid 1px $offwhite*0.93
  display: block
  padding: 10px
  border-radius: 2px

  overflow: auto
  scrollbar($offwhite)

body.no-literate .content pre > code
  inset-box()

@media (max-width: 1180px) /* Small desktop */
  .content pre > code
    inset-box()

// ----------------------------------------------------------------------------
// Buttons

.button
  antialias()
  font-family: $body-font
  font-weight: 600
  font-size: 16px

  display: inline-block
  padding: 3px 25px

  border: solid 2px $accent
  border-radius: 5px

  margin-right: 15px

  &, &:visited
    background: $accent
    color: white
    text-shadow: none

  &:hover
    border-color: #111
    background: #111
    color: white

  &.light
    &, &:visited
      background: transparent
      color: $grey
      border-color: $grey
      text-shadow: none

    &:hover
      border-color: $grey
      background: $grey
      color: white

.content
  .button + em
    color: $grey


// ----------------------------------------------------------------------------
// Header

.header
  background: $offwhite
  text-shadow: 0 1px 0 rgba(white, 0.5)
  border-bottom: solid 1px $line
  padding: 15px 15px 15px $sidepad
  clearfix()

  line-height: 20px
  position: relative

  .left
    float: left

  .right
    text-align: right
    position: absolute
    right: 15px
    top: 15px

    iframe
      display: inline-block
      vertical-align: middle

  h1
    antialias()
    font-weight: 600
    font-family: $body-font
    font-size: 13px

    &, a, a:visited
      color: $grey
    a:hover
      color: $txt

  li a
    font-size: 0.88em
    color: $grey
    display: block

    &:hover
      color: $grey*0.4

  @media (min-width: 480px) /* Tablet & Desktop */
    h1
      float: left

    ul, li
      display: block
      float: left

    ul
      margin-left: -15px

    h1 + ul
      border-left: solid 1px $line
      margin-left: 15px

    li
      border-left: solid 1px rgba(white, 0.5)
      border-right: solid 1px $line
      &:last-child
        border-right: 0

    li a
      padding: 0 15px

@media (max-width: 480px) /* Mobile */
  // Hide extra stuff on mobile
  .right
    display: none

// ----------------------------------------------------------------------------
// Sidebar

.menubar
  antialias()
  .section
    padding: $sidepad $sidepad
    box-sizing: border-box

  .section + .section
    border-top: solid 1px $line

  .section.no-line
    border-top: 0
    padding-top: 0

a.big.button
  display: block
  box-sizing: border-box
  width: 100%
  padding: 10px 20px
  text-align: center

  font-weight: bold
  font-size: 1.1em

  background: transparent
  border: solid 3px $accent
  border-radius: 30px
  font-family: $body-font

  &, &:visited
    color: $accent
    text-decoration: none

  &:hover
    background: $accent
    &, &:visited
      color: white

@media (max-width: 480px) /* Mobile */
  .menubar
    padding: $minipad
    border-bottom: solid 1px $line

@media (max-width: 768px) /* Mobile and tablet */
  .menubar
    display: none

@media (min-width: 768px) /* Desktop */
  .content-root
    padding-left: $sidebar-width

  .menubar
    position: absolute
    left: 0
    top: 0
    bottom: 0
    width: $sidebar-width

  .menubar.fixed
    position: fixed

    scrollbar()
    overflow-y: auto

.menubar
  font-size: 14px

// Menu items
.menu,
.menu--no-index
  ul.level-1 > li + li
    margin-top: 20px

  a
    box-sizing: border-box
    position: relative

    display: block
    padding-top: 3px
    padding-bottom: 3px
    margin-right: ($sidepad * -1)

    &, &:visited
      color: $accent
    &:hover
      color: $accent*0.8

  a.level-1,
  p.level-1
    font-family: $body-font
    &, &:visited
      color: $grey
    &:hover
      color: $grey*0.6

  p.level-1:hover
    color: $grey

  // a.level-2

  a.level-3
    padding-left: 10px
    border-left: 1px solid #ddd;

  a.active
    &, &:visited, &:hover
      color: $txt !important
    font-weight: bold !important

    // Indicator
    // &:after
    //   content: ''
    //   display: block
    //   box-sizing: border-box

    //   absolute: top 12px right $sidepad

    //   width: 9px
    //   height: 3px
    //   border-radius: 2px
    //   background: $accent

// ----------------------------------------------------------------------------
// Syntax highlighting

code
  .string, .number
    color: #3ac
  .init
    color: #383
  .keyword
    font-weight: bold
  .comment
    color: #bbb

// ----------------------------------------------------------------------------

.content
  .large-brief & > h1:first-child + p,
  > p.brief
    font-size: 1.3em
    font-family: Open Sans, sans-serif
    font-weight: 300

// ----------------------------------------------------------------------------

.title-area
  min-height: 100px
  box-sizing: border-box
  antialias()
  text-align: center
  border-bottom: solid 1px $line
  overflow: hidden

  > img.bg
    z-index: 0

    // Start it off screen
    position: absolute
    left: -9999px

  > div
    position: relative
    z-index: 1

// Container
.container
  margin: 0 auto;
  position: relative;

// Hero
.hero
  height: auto
  width: 100%
  background-color: #fefefe
  border-bottom: 1px solid #dfe2e7
  background-image: url('hubblejs-hero.png')
  background-image: url('hubblejs-hero.png'), linear-gradient(135deg, #fefefe 50%, #ededed)
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom right
  position: relative

  .container
    padding: 20px;

  .button
    margin-bottom: 20px
    display: block
    text-align: center

  &::before
    content:''
    position: absolute
    width: 100%
    height: 100%
    background-color: #ffffff
    opacity: .9

  &__subtitle
    font-size: 22px
    line-height: 1.5
    padding-bottom: 30px
    // padding-left: 30px

  &__button-wrap
    // padding-left: 30px

  &__logo
    background-image: url('hubblejs-logo.svg')
    background-repeat: no-repeat
    text-indent: -9999px
    overflow: hidden
    width: 63px
    height: 70px
    padding-bottom: 30px

@media screen and (min-width: 480px)
  .hero
    .container
      padding-left: 30px
      padding-right: 30px

@media screen and (min-width: 768px)
  .hero
    .button
      display: inline-block
      text-align: left

    .container
      padding-top: 80px

  .hero__subtitle
    width: 490px

@media screen and (min-width: 960px)
  .hero
    height: 450px
    background-size: auto 450px

    &:before
      display: none

@media screen and (min-width: 1088px)
  .container
    max-width: 960px;
    width: 960px;

  .hero
    .container
      padding-left: 60px

  .menubar.fixed
    left: 50%
    transform: translate(-480px)

@media screen and (min-width: 1280px)
  .container
    max-width: 1200px;
    width: 1200px;

  .hero
    height: 600px
    background-size: auto 600px

    .container
      padding-top: 165px

  .hero__subtitle
    width: 490px
    padding-left: 0

  .hero__button-wrap
    padding-left: 0

  .menubar.fixed
    left: 50%
    transform: translate(-600px)

@media screen and (min-width: 1472px)
  .container
    max-width: 1200px;
    width: 1200px;

  .menubar.fixed
    left: 50%
    transform: translate(-600px)

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx)
  .hero
    background-image: url('hubblejs-hero.png')
    background-image: url('hubblejs-hero@2x.png'), linear-gradient(135deg, #fefefe 50%, #ededed)

.footer
  padding: 22px
  border-top: 1px solid $line
  font-size: 12px